<nav id="mainNav">
    <div class="container">
        <a class="navbar-brand-y2k" href="/">Matt Krupa</a>
        <br>
        <span class="nav-separator">|</span>
        <a class="nav-link" href="/" data-page="/">Home</a>
        <span class="nav-separator">|</span>
        <a class="nav-link" href="/about" data-page="/about">About</a>
        <span class="nav-separator">|</span>
        <a class="nav-link" href="/albums" data-page="/albums">Music</a>
        <span class="nav-separator">|</span>
        <a class="nav-link" href="/news" data-page="/news">News</a>
        <span class="nav-separator">|</span>
        <a class="nav-link" href="/mind-of-seasons" data-page="/mind-of-seasons">Game</a>
        <span class="nav-separator">|</span>
    </div>
</nav>
