<div class="contact-section">
    <div class="container">
        <p class="social-title">~*~ Find Matt Online ~*~</p>
        <p class="mb-0">
            [<a href="https://www.youtube.com/channel/UCGIB3mFHUD2Fh-MthueSbXQ">YouTube</a>]
            [<a href="https://www.facebook.com/mattkrupamusic">Facebook</a>]
            [<a href="https://www.instagram.com/matt.krupa.music/">Instagram</a>]
            [<a href="https://mattkrupa.bandcamp.com/">Bandcamp</a>]
            [<a href="https://open.spotify.com/artist/0hduI8doHSaCxLeb2s9t08?si=rYerSEUySua6srCSQNYbeA&nd=1&dlsi=7c1b7838f394433f">Spotify</a>]
            [<a href="https://music.apple.com/gb/artist/matt-krupa/932056625">iTunes</a>]
        </p>
    </div>
</div>
