<div class="contact-section bg-black">
    <div class="social d-flex justify-content-center">
        <a class="mx-2" href="https://www.youtube.com/channel/UCGIB3mFHUD2Fh-MthueSbXQ"><i class="fab fa-youtube"></i></a>
        <a class="mx-2" href="https://www.facebook.com/mattkrupamusic"><i class="fab fa-facebook-f"></i></a>
        <a class="mx-2" href="https://www.instagram.com/matt.krupa.music/"><i class="fab fa-instagram"></i></a>
        <a class="mx-2" href="https://mattkrupa.bandcamp.com/"><i class="fab fa-bandcamp"></i></a>
        <a class="mx-2" href="https://open.spotify.com/artist/0hduI8doHSaCxLeb2s9t08?si=rYerSEUySua6srCSQNYbeA&nd=1&dlsi=7c1b7838f394433f"><i class="fab fa-spotify"></i></a>
        <a class="mx-2" href="https://music.apple.com/gb/artist/matt-krupa/932056625"><i class="fab fa-itunes"></i></a>
    </div>
</div>
